Import Pandas and Numpy.

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore', FutureWarning)

C:\Users\hp\AppData\Local\Temp\ipykernel_16784\1505564052.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Download the data and read it into a Pandas dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Check the number of the data points.

In [3]:
concrete_data.shape

(1030, 9)

Check the statistical summary of the data.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Check the data for any missing values.

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split data into target (the column 'Strength') and predictors (the other columns).

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head() # Check the first five rows of the Predictors dataframe

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head() #Chech the first five values of the Strength column

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Save the number of predictors to *n_cols*.

In [9]:
n_cols = predictors.shape[1] # number of predictors

Import Keras and its required packages.

In [10]:
import keras

In [11]:
from keras.models import Sequential
from keras.layers import Dense

## Build a Neural Network

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model with 1 hidden layer and 10 hidden units.

## Train and Test the Network

In [13]:
# build the model
model = regression_model()

C:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [14]:
# fit the model
model.fit(predictors, target, validation_split=0.3, epochs=50, verbose=2)

Epoch 1/50
23/23 - 6s - 270ms/step - loss: 147986.7812 - val_loss: 103911.8516
Epoch 2/50
23/23 - 0s - 12ms/step - loss: 82959.6094 - val_loss: 57671.1914
Epoch 3/50
23/23 - 0s - 11ms/step - loss: 46305.0664 - val_loss: 31452.1934
Epoch 4/50
23/23 - 0s - 13ms/step - loss: 25106.1738 - val_loss: 16002.2979
Epoch 5/50
23/23 - 0s - 19ms/step - loss: 12763.0986 - val_loss: 7310.6758
Epoch 6/50
23/23 - 0s - 12ms/step - loss: 6467.0342 - val_loss: 3515.3467
Epoch 7/50
23/23 - 0s - 12ms/step - loss: 4151.5283 - val_loss: 2331.4321
Epoch 8/50
23/23 - 0s - 12ms/step - loss: 3439.7378 - val_loss: 2019.8309
Epoch 9/50
23/23 - 0s - 13ms/step - loss: 3125.2651 - val_loss: 1848.3790
Epoch 10/50
23/23 - 0s - 18ms/step - loss: 2864.2212 - val_loss: 1705.4778
Epoch 11/50
23/23 - 0s - 10ms/step - loss: 2619.4124 - val_loss: 1575.0162
Epoch 12/50
23/23 - 0s - 17ms/step - loss: 2386.1870 - val_loss: 1453.2573
Epoch 13/50
23/23 - 0s - 13ms/step - loss: 2179.4470 - val_loss: 1333.4501
Epoch 14/50
23/23 - 0s - 11ms/step - loss: 1987.4191 - val_loss: 1240.2876
Epoch 15/50
23/23 - 1s - 30ms/step - loss: 1817.2122 - val_loss: 1150.5228
Epoch 16/50
23/23 - 0s - 19ms/step - loss: 1663.2356 - val_loss: 1067.5164
Epoch 17/50
23/23 - 0s - 15ms/step - loss: 1526.4489 - val_loss: 989.3947
Epoch 18/50
23/23 - 0s - 15ms/step - loss: 1403.2673 - val_loss: 926.9122
Epoch 19/50
23/23 - 0s - 13ms/step - loss: 1293.4135 - val_loss: 864.9232
Epoch 20/50
23/23 - 0s - 12ms/step - loss: 1193.3708 - val_loss: 813.2929
Epoch 21/50
23/23 - 0s - 12ms/step - loss: 1106.0215 - val_loss: 761.1957
Epoch 22/50
23/23 - 0s - 13ms/step - loss: 1025.8617 - val_loss: 704.4503
Epoch 23/50
23/23 - 0s - 13ms/step - loss: 953.1584 - val_loss: 670.2227
Epoch 24/50
23/23 - 0s - 13ms/step - loss: 887.2820 - val_loss: 627.3559
Epoch 25/50
23/23 - 0s - 12ms/step - loss: 826.3434 - val_loss: 596.7833
Epoch 26/50
23/23 - 0s - 15ms/step - loss: 770.7720 - val_loss: 559.8987
Epoch 27/50
23/23 - 0s - 12ms/step - loss: 719.7709 - val_loss: 534.3459
Epoch 28/50
23/23 - 0s - 12ms/step - loss: 673.0025 - val_loss: 502.1747
Epoch 29/50
23/23 - 0s - 13ms/step - loss: 627.5875 - val_loss: 484.6224
Epoch 30/50
23/23 - 0s - 12ms/step - loss: 586.7275 - val_loss: 467.5799
Epoch 31/50
23/23 - 0s - 11ms/step - loss: 548.8836 - val_loss: 442.5163
Epoch 32/50
23/23 - 0s - 12ms/step - loss: 512.5308 - val_loss: 434.3591
Epoch 33/50
23/23 - 0s - 12ms/step - loss: 481.1878 - val_loss: 415.0426
Epoch 34/50
23/23 - 0s - 13ms/step - loss: 450.3686 - val_loss: 403.9219
Epoch 35/50
23/23 - 0s - 13ms/step - loss: 423.7588 - val_loss: 405.0985
Epoch 36/50
23/23 - 0s - 14ms/step - loss: 400.9400 - val_loss: 386.4467
Epoch 37/50
23/23 - 0s - 12ms/step - loss: 378.3800 - val_loss: 393.3629
Epoch 38/50
23/23 - 0s - 11ms/step - loss: 360.5239 - val_loss: 372.9889
Epoch 39/50
23/23 - 0s - 12ms/step - loss: 343.7951 - val_loss: 383.1616
Epoch 40/50
23/23 - 0s - 12ms/step - loss: 329.7126 - val_loss: 372.8465
Epoch 41/50
23/23 - 0s - 11ms/step - loss: 318.6426 - val_loss: 367.4561
Epoch 42/50
23/23 - 0s - 11ms/step - loss: 308.0484 - val_loss: 372.5525
Epoch 43/50
23/23 - 0s - 12ms/step - loss: 298.9430 - val_loss: 373.7336
Epoch 44/50
23/23 - 0s - 13ms/step - loss: 291.4276 - val_loss: 365.2028
Epoch 45/50
23/23 - 0s - 12ms/step - loss: 284.5345 - val_loss: 364.9063
Epoch 46/50
23/23 - 0s - 14ms/step - loss: 278.3452 - val_loss: 371.8884
Epoch 47/50
23/23 - 0s - 12ms/step - loss: 273.6483 - val_loss: 362.5507
Epoch 48/50
23/23 - 0s - 11ms/step - loss: 269.2121 - val_loss: 365.3959
Epoch 49/50
23/23 - 0s - 12ms/step - loss: 263.6157 - val_loss: 356.1257
Epoch 50/50
23/23 - 0s - 12ms/step - loss: 260.0885 - val_loss: 357.3801

Repeat the traiing and testing for 50 cycles and create a list of 50 mean squared errors representing each cycle.

In [15]:
mean_squared_errors = []
for i in range(50):
    #Randomly split the data (70% for training and 30% for testing), train , and test the model
   
    fitting = model.fit(predictors, target, validation_split=0.3, epochs=50, verbose=0)
    #Find the last mean_squared_error in history.
    mean_squared_error = fitting.history['val_loss'][-1]
    #AAppend every mean_squared_error considered to the list.
    mean_squared_errors.append(mean_squared_error)
    print('i #{}: mean_squared_error {}'.format(i+1, mean_squared_error))

i #1: mean_squared_error 228.7698211669922
i #2: mean_squared_error 137.35794067382812
i #3: mean_squared_error 110.22750854492188
i #4: mean_squared_error 98.75452423095703
i #5: mean_squared_error 90.78028869628906
i #6: mean_squared_error 93.85552215576172
i #7: mean_squared_error 90.64178466796875
i #8: mean_squared_error 86.72688293457031
i #9: mean_squared_error 108.14041137695312
i #10: mean_squared_error 111.78563690185547
i #11: mean_squared_error 87.47857666015625
i #12: mean_squared_error 91.1177749633789
i #13: mean_squared_error 81.13117218017578
i #14: mean_squared_error 95.38999938964844
i #15: mean_squared_error 86.95088195800781
i #16: mean_squared_error 65.18614196777344
i #17: mean_squared_error 86.7201919555664
i #18: mean_squared_error 65.9131851196289
i #19: mean_squared_error 82.07086181640625
i #20: mean_squared_error 80.49560546875
i #21: mean_squared_error 94.63603973388672
i #22: mean_squared_error 94.87532043457031
i #23: mean_squared_error 124.7748794555664
i #24: mean_squared_error 130.02796936035156
i #25: mean_squared_error 125.53912353515625
i #26: mean_squared_error 106.79408264160156
i #27: mean_squared_error 100.89242553710938
i #28: mean_squared_error 99.72425079345703
i #29: mean_squared_error 122.62277221679688
i #30: mean_squared_error 136.27134704589844
i #31: mean_squared_error 123.39613342285156
i #32: mean_squared_error 91.53522491455078
i #33: mean_squared_error 110.34410095214844
i #34: mean_squared_error 107.39613342285156
i #35: mean_squared_error 108.86732482910156
i #36: mean_squared_error 127.20514678955078
i #37: mean_squared_error 92.11124420166016
i #38: mean_squared_error 141.1280059814453
i #39: mean_squared_error 131.13055419921875
i #40: mean_squared_error 128.1111297607422
i #41: mean_squared_error 116.24243927001953
i #42: mean_squared_error 128.7393035888672
i #43: mean_squared_error 114.8512191772461
i #44: mean_squared_error 120.38044738769531
i #45: mean_squared_error 135.236572265625
i #46: mean_squared_error 133.70724487304688
i #47: mean_squared_error 109.70833587646484
i #48: mean_squared_error 128.38174438476562
i #49: mean_squared_error 124.49920654296875
i #50: mean_squared_error 159.9667205810547

Report the mean and the standard deviation of the mean squared errors.

In [16]:
print('The mean of the mean squared errors: {}'.format(np.mean(mean_squared_errors)))
print('The standard deviation of the mean squared errors: {}'.format(np.std(mean_squared_errors)))

The mean of the mean squared errors: 110.9718231201172
The standard deviation of the mean squared errors: 26.495544553650785