Import Pandas and Numpy.

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore', FutureWarning)

C:\Users\hp\AppData\Local\Temp\ipykernel_9492\1505564052.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Download the data and read it into a Pandas dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Check the number of the data points.

In [3]:
concrete_data.shape

(1030, 9)

Check the statistical summary of the data.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Check the data for any missing values.

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split data into target (the column 'Strength') and predictors (the other columns).

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head() # Check the first five rows of the Predictors dataframe

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head() #Chech the first five values of the Strength column

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Save the number of predictors to *n_cols*.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

Import Keras and its required packages.

In [11]:
import keras

In [12]:
from keras.models import Sequential
from keras.layers import Dense

## Build a Neural Network With Three Hidden Layers

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model with 1 hidden layer and 10 hidden units.

## Train and Test the Network

In [14]:
# build the model
model = regression_model()

C:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Train and test for 50 cycles and create a list of 50 mean squared errors representing each cycle.

In [15]:
mean_squared_errors = []
for i in range(50):
    #Randomly split the data (70% for training and 30% for testing), train , and test the model
   
    fitting = model.fit(predictors_norm, target, validation_split=0.3, epochs=50, verbose=0)
    #Find the last mean_squared_error in history.
    mean_squared_error = fitting.history['val_loss'][-1]
    #AAppend every mean_squared_error considered to the list.
    mean_squared_errors.append(mean_squared_error)
    print('i #{}: mean_squared_error {}'.format(i+1, mean_squared_error))

i #1: mean_squared_error 107.90450286865234
i #2: mean_squared_error 103.71395111083984
i #3: mean_squared_error 113.71968841552734
i #4: mean_squared_error 122.26116180419922
i #5: mean_squared_error 124.00407409667969
i #6: mean_squared_error 120.51610565185547
i #7: mean_squared_error 122.09280395507812
i #8: mean_squared_error 117.77058410644531
i #9: mean_squared_error 107.81559753417969
i #10: mean_squared_error 111.10718536376953
i #11: mean_squared_error 123.40278625488281
i #12: mean_squared_error 113.2520751953125
i #13: mean_squared_error 123.40790557861328
i #14: mean_squared_error 118.28461456298828
i #15: mean_squared_error 116.09583282470703
i #16: mean_squared_error 114.87603759765625
i #17: mean_squared_error 116.08651733398438
i #18: mean_squared_error 112.6253662109375
i #19: mean_squared_error 110.8937759399414
i #20: mean_squared_error 112.19694519042969
i #21: mean_squared_error 112.3304672241211
i #22: mean_squared_error 108.6522445678711
i #23: mean_squared_error 107.40786743164062
i #24: mean_squared_error 110.9616928100586
i #25: mean_squared_error 113.75576782226562
i #26: mean_squared_error 110.01760864257812
i #27: mean_squared_error 112.23585510253906
i #28: mean_squared_error 113.6829833984375
i #29: mean_squared_error 113.57704162597656
i #30: mean_squared_error 123.99105072021484
i #31: mean_squared_error 121.31114959716797
i #32: mean_squared_error 123.40293884277344
i #33: mean_squared_error 113.85572052001953
i #34: mean_squared_error 118.58060455322266
i #35: mean_squared_error 122.78884887695312
i #36: mean_squared_error 122.8504638671875
i #37: mean_squared_error 132.2588348388672
i #38: mean_squared_error 119.03754425048828
i #39: mean_squared_error 129.08103942871094
i #40: mean_squared_error 129.4274444580078
i #41: mean_squared_error 126.69658660888672
i #42: mean_squared_error 135.2098846435547
i #43: mean_squared_error 131.63665771484375
i #44: mean_squared_error 124.62811279296875
i #45: mean_squared_error 127.96611785888672
i #46: mean_squared_error 124.88023376464844
i #47: mean_squared_error 135.4720458984375
i #48: mean_squared_error 128.952880859375
i #49: mean_squared_error 134.46066284179688
i #50: mean_squared_error 128.35720825195312

Report the mean and the standard deviation of the mean squared errors.

In [16]:
print('The mean of the mean squared errors: {}'.format(np.mean(mean_squared_errors)))
print('The standard deviation of the mean squared errors: {}'.format(np.std(mean_squared_errors)))

The mean of the mean squared errors: 119.38990142822266
The standard deviation of the mean squared errors: 8.064123601657247

Investigate the effect of increasing the number of hidden layers from one hidden layer to three hidden layers.

In [17]:
mean_with_increased_hidden_layers_to_mean= 119.38990142822266/107.7179347229004
mean_with_increased_hidden_layers_to_mean

1.108356762830144

In [18]:
Effect_of_hidden_layers= mean_with_increased_hidden_layers_to_mean-1
Effect_of_hidden_layers

0.10835676283014406

Increasing the number of hidden layers from one hidden layer to three hidden layers has increased the mean of the mean squared errors by 10%.